@import url('https:/fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Poppins', Sans-Serif;
}

body 
{
  
  background:#b6c199;
}

hr {
  color:#00ccff;
}
.logo {
  
  text-align: center;
  color: white;
  font-size: 3vh;
}

.bhashan {
  position: absolute;
  padding: 1vh;
  background:linear-gradient(315deg ,#00ccff ,#0e1538 ,#d400d4);
  transform: skew(-2.5deg);
  transition-duration:2s;
}

.bhashan p {
  padding:1vh;
  overflow: auto;
  border: 2vh;
  height:40vh;
  width:44vh;
  color :#0e1538;
  transform: skew(2.5deg);
  font-size: 1.7vh;
  text-align: center;
  transition-duration : 1.8s;
  background-color:cyan;
}

.box {
  position: absolute;
  Left:6%;
  top: 28%;
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;
}


.bhashan:hover {
  position: relative;
  padding: 1vh;
  background:linear-gradient(-315deg ,#d400d4 ,#0e1538 ,#00ccff);
  transform:  skew(2.5deg);
  
  
}

.bhashan p:hover {
  font-size:2vh;
  transform:  skew(-2.5deg);
  transition-duration: 2s;
  text-shadow: 0px 0px 6px black;
   color: white;
   background-color:cyan;
}

img {
  width:15vh;
  height:15vh;
  resize: auto;
  padding:1px;
  border-radius: 2px;
}

.vyasan {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 4%;
  left:1%;
  color:cyan;
  background-color:grey;
  opacity:40%;
  resize: auto;
  
}